logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Datos de tiempo de ejecución
pids
*.pid
*.seed
*.pid.lock

# Directorio para las librerias generadas por jscoverage/JSCover
lib-cov

# Cobertura del directorio usado por herramientas
coverage

# Cobertura del test nyc
.nyc_output

# Almacenamiento intermedio de Grunt (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependencias del directorio Bower (https://bower.io/)
bower_components

# Configuracion de node-waf
.lock-wscript

# Complementos binarios compilados (https://nodejs.org/api/addons.html)
build/Release

# Dependencias de directorios
node_modules/
jspm_packages/

# Declaracion de archivos TypeScript v1
typings/

# Directorio opcional de cache npm
.npm

# Cache opcional eslint     
.eslintcache

# Opcional REPL history
.node_repl_history

# Salida de 'npm pack'
*.tgz

# Archivo Yarn Integrity 
.yarn-integrity

# Archivo de variables del entorno dotenv 
.env

# Salida del constructor next.js
.next
